.DS_Store

**/fish/generated_completions/**
**/fish/fish_history
**/fish/fishd\.*

./configs/vim/bundle/**
.vagrant/
.idea/workspace.xml

ubuntu-xenial-16.04-cloudimg-console.log
ansible/playbook.retry
ansible/vim/files/bundle/**
